@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
	::placeholder {
		color: var(--stone-500, #78716c) !important;
		font-size: 14px !important;
		font-weight: 500 !important;
		line-height: 20px !important;
		font-weight: normal !important;
	}
	/* Hide the number input spinner */
	input[type='number']::-webkit-inner-spin-button,
	input[type='number']::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		/* Prevent scrolling on number input in Safari */
		-moz-appearance: textfield;
	}
}
